<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="shortcut icon" href="/favicon.ico" >

  {% includeCssFile "/css/site.min.css" %}
	{% includeJsFile "/js/main.min.js" %}

	<!--<script src="/tola.dev/public/js/cta.js"></script>-->

</head>

<body>
	<div id="container">
		<header id="header">

			<!--<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>-->
		</header>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			<p class="copy">&copy; {{ now.year }} TOLA</p>
		</footer>
	</div>
<!--<script>
		var closeFn;
		function closeShowingModal() {
			var showingModal = document.querySelector('.modal.show');
			if (!showingModal) return;
			showingModal.classList.remove('show');
			document.body.classList.remove('disable-mouse');
			document.body.classList.remove('disable-scroll');
			if (closeFn) {
				closeFn();
				closeFn = null;
			}
		}
		document.addEventListener('click', function (e) {
			var target = e.target;
			if (target.dataset.ctaTarget) {
				closeFn = cta(target, document.querySelector(target.dataset.ctaTarget), { relativeToWindow: true }, function showModal(modal) {
					modal.classList.add('show');
					document.body.classList.add('disable-mouse');
					if(target.dataset.disableScroll){
						document.body.classList.add('disable-scroll');
					}
				});
			}
			else if (target.classList.contains('modal-close-btn')) {
				closeShowingModal();
			}
		});
		document.addEventListener('keyup', function (e) {
			if (e.which === 27) {
				closeShowingModal();
			}
		})
  </script>-->
</body>
</html>
