{% extends "_layout" %}

{% block content %}

	<div class="hero">

		{% if entry.heroImage | length %}
		    {% for asset in entry.heroImage %}
		    	<div class="imageHero">
		        	<img src="{{ asset.url }}" width="100%">
		        </div>
		    {% endfor %}
		{% endif %}

		<div class="row">
			<div class="three columns"><br>
			</div>
			<div class="four columns">
				<h1>{{ entry.title }}</h1>
			</div>
			<div class="five columns"><br>
			</div>
		</div>

	</div>

	{% for block in entry.product %}
	{% set images = block.productImage %}
	{% if images and images|length %}
	<div class="row bodyContent">

		<div class="two columns"><br>
		</div>
		<div class="two columns">
			{% for image in images %}
				<img src="{{ image.getUrl() }}" width="100%" alt="{{ image.title }}">
			{% endfor %}
		</div>
		<div class="one columns"><br>
		</div>
		<div class="five columns secondary">
			<h2>{{ block.secondaryTitleLineOne }}</h2>
			<span class="indent"><h2>{{ block.secondaryTitleLineTwo }}</h2></span>
		</div>
		<div class="two columns"><br>
		</div>

	</div>
	{% endif %}
	{% endfor %}

	<div class="row beige">
		<div class="two columns"><br>
		</div>
		<div class="four columns">
			<img src="{{ siteUrl }}/uploads/map.png" width="100%">
		</div>
		<div class="four columns">
			<h4>Join Our Community</h4>
		</div>
		<div class="two columns"><br>
		</div>
	</div>

	<div class="row final">
		<div class="four columns">
		{% for block in entry.invest %}
			<h3 class="btn" data-cta-target=".js-dialog-1">{{ block.investTitle }}</h3>

			<div class="row js-dialog-1 modal dialog">
				<div class="one columns"><br>
				</div>
				<div class="eight columns">
				<span class="modal-close-btn"></span>
					<div class="modalContent">
						<h3>{{ block.investSecondaryTitle }}</h3>
						{{ block.investDescription }}
					</div>
				</div>
				<div class="three columns"><br>
				</div>
			</div>
		{% endfor %}
		</div>
		<div class="four columns">
		{% for block in entry.chat %}
			<h3 class="btn" data-cta-target=".js-dialog-2">{{ block.chatTitle }}</h3>

			<div class="row js-dialog-2 modal dialog">
				<div class="two columns"><br>
				</div>
				<div class="eight columns">
				<span class="modal-close-btn"></span>
				<div class="modalContent">
					<h3>{{ block.chatSecondaryTitle }}</h3>
					{{ block.chatDescription }}
				</div>
				</div>
				<div class="two columns"><br>
				</div>
			</div>
		{% endfor %}
		</div>
		<div class="four columns">
		{% for block in entry.about %}
			<h3 class="btn" data-cta-target=".js-dialog-3">{{ block.aboutTitle }}</h3>

			<div class="row js-dialog-3 modal dialog">
				<div class="two columns"><br>
				</div>
				<div class="eight columns">
				<span class="modal-close-btn"></span>
				<div class="modalContent">
					<h3>{{ block.aboutSecondaryTitle }}</h3>
					{{ block.aboutDescription }}
				</div>
				</div>
				<div class="two columns"><br>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

{% endblock %}
